.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    .loginDesc {
      color: red;
      font-size: 2.5rem !important;
      font-family: "Rouge Script", Tofu;
      font-weight: bold;
    }
  
  .loginBox{
      height: 400px !important;
      padding: 20px;
      color: black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .loginInput, .loginInput1, .loginInput2{
      height: 50px;
      border-radius: 10px;
      border: 2px solid black;
      font-size: 18px;
      padding-left: 20px;
  }
  
  .regButton{
      height: 60px;
      width: 60%;
      border-radius: 30px !important;
      border: 2px black !important;
      font-family: 'Abril Fatface', cursive;
      background-color: black !important; 
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      align-self: center;
      color: white;
  }

 .regButton:hover{
  transition: 1s ease;
  color: black;
  border-style: solid !important;
  background-image: linear-gradient(to right bottom, #f84f39, #f64845, #f34350, #ef3f5a, #e93d64, #e33c6c, #dc3d73, #d53e7a, #cc4081, #c24387, #b8468c, #ad4990);
 }